$cor-pokedex: #f44336;


$cor-grama: #77c850;
$cor-fogo: #ee7f30;
$cor-agua: #678fee;
$cor-eletrico: #f7cf2e;
$cor-gelo: #98d5d7;
$cor-terra: #dfbf69;
$cor-voador: #a98ff0;
$cor-veneno: #a040a0;
$cor-lutador: #bf3029;
$cor-normal: #a6a877;
$cor-psiquico: #f65687;
$cor-sombrio: #725847;
$cor-pedra: #b8a137;
$cor-inseto: #a8b720;
$cor-fantasma: #6e5896;
$cor-metal: #b9b7cf;
$cor-dragao: #6f38f6;
$cor-fada: #f9aec7;